body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background-color:#200994 ;
  color: white;
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
  border: #200994;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
